# Fichier de secrets
.env
partie1/backend/.env

# Dépendances Frontend
partie1/frontend/node_modules
partie1/frontend/build

# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers système
.DS_Store